  
  <div id="main_visual">
  <img src="images_kitchen/dcb157fcbab46922bdfabb7baad5235a_s.jpg" alt="Logo">
  </div>
  
  

  <div id="wrapper">
    <p style="color: blue;">InvesterRは、様々な人の意見を参考にできる株式投資家の為の情報ツールです。<br>
    投資家が何の銘柄をどんな理由でオススメしたかを投稿し、それを参考にトレードの質を上げていくサイトです。<br>
    まずはプロフィールを登録し、ご自身でオススメする銘柄を投稿してみましょう！<br>
    プロフィール登録はこちらから
    </p>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>




